/* chart.css  styles for the chart component */

.container {
  display: inline-block;
  width: 80%;
  background-color: #D5D8E2;
  padding: .25em .45em;
  border: 1px solid orange;
  max-width: 720px;
}
