
.si-container {
  margin-top: .5em;
  margin-bottom: .5em;
  padding: .2em;
}
.selectedItemLabel {
  padding-right: .25em;
  color: #c5cce2
}
.btnDisabled {
  cursor: not-allowed;
  pointer-events: none;
  color: #b0a0a0;
}
.btnOptions {
  color: #253c70;
}
.selectedItemText {
  color: #e3e6ef;
  background-color: #3E4D70;
  padding: .2em .4em;
}
